.App {
  position: relative;
  z-index: 1; /* Этот z-index гарантирует, что контент будет отображаться над фоном */
  background-color: transparent; /* Убедитесь, что черный фон здесь отсутствует */
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Основные стили для сайта */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: white;
  color: rgb(255, 255, 255);
}

/* Стили для меню */
.sticky-navbar {
  position: sticky;
  top: 0;
  background-color: black;
  padding: 1rem;
  z-index: 1000;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: grey;
}

/* Стили для контента страниц */
.page-content {
  color: white; /* Для светлого текста на темном фоне */
  padding: 4rem;
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
}

/* Canvas для звездного фона */
.stars-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Фон под контентом */
  background-color: black;
  pointer-events: none; /* Отключаем взаимодействие */
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* Задайте нужную ширину */
  max-width: 500px; /* Ограничение по максимальной ширине */
}
